

<mat-list role="list">
    <div class="profile">
    <b style="color: rgb(131, 131, 241);">Argentina FC</b>
    </div>

    <img src="https://i.pinimg.com/originals/30/bd/02/30bd02b1e68ef1d01500add7b847f969.png" alt="No-img">
    <mat-divider></mat-divider>
    <h3 mat-Subheader >Pages</h3>
    <mat-list-item><a routerLink="">Dashboard</a></mat-list-item>
    <mat-list-item><a routerLink="/posts">Posts</a></mat-list-item>
    <mat-list-item><a routerLink="">Articles</a></mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-Subheader >Tools</h3>
    <a routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon> &nbsp; News
    </a><br><br>
    <a routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon> contact_phone</mat-icon> &nbsp; Contact Us
    </a>
  </mat-list>